<%= link_to root_path, class: 'app-brand-link' do %>
  <span class="app-brand-logo demo">
    <i class="fs-4 fa fa-thin fa-chart-line"></i>
  </span>
  <span class="app-brand-title demo h4 mb-0 menu-text fw-bolder me-1"><span class="">Seo</span>Tracker</span>
<% end %>
