<table class="table table-striped" >
  <thead class="bg-white">
    <tr>
      <th class="bg-white sticky-cell-options" scope="col"></th>
      <th class="sticky-cell" scope="col"><%= sort_link(@q, :key_string, "מילות חיפוש", default_order: :asc) %></th>
      <% @dates.each do |date| %>

        <th scope="col" class="date">
          <%= date.strftime('%d/%m/%Y')%>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render 'shared/keywords', website: website %>
  </tbody>
</table>
