.card {
  min-height: 60vh;
  display: flex;
  // align-items: space-between;
  .card-header {
    background-color: $dark-gray;
    flex-grow: 0;
    padding-block: 1em;
  }
  .card-body {
    margin-block-start: 1em;
    margin-inline: 2.5em;
  }
}
