.drop-down {
  --size: 2.5rem;

  position: relative;
  z-index: 10;

  .dropdown-btn {
    width:  var(--size);
    aspect-ratio: 1;
    border: 1px solid $primary;
    background-color: $primary;
    display: grid;
    place-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 100ms linear;


    & > i {
      margin: 0;
      color: white;
      transition: color 100ms linear;
    }

    &:hover {
      background-color: $dark-gray;
      border: 1px solid $primary;
      transition: background-color 100ms linear;

      & > i {
        color: $primary;
        transition: background-color 100ms linear;
      }
    }

    &.open {
      background-color: $light-gray;

      & > i {
        font-size: 1.5rem;
        color: $primary;
      }
    }
    &.open:hover, &.open:focus {
      border-bottom: 1px solid transparent;
      outline: 0;
    }
  }

  .custom-drop-down-menu {
    display: none;
    overflow: hidden;
    position: absolute;
    // text-align: center;
    background-color: $light-gray;
    border: 1px solid $primary;
    border-top: none;
    width: calc(var(--size) * 5);
    left: 100%;
    border-radius: 0 0 4px 4px;
    transform:translate(-20%, -2px);

    .dropdown-item-custom {
      position: relative;
      padding-block: .35em;
      padding-inline-start: 0.5em;
    }

    & .dropdown-item-custom:not(:last-of-type)::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      background-image: linear-gradient(to right, rgba($primary, 0), $primary 30%, $primary 70%, rgba($primary, 0));
    }


    & .dropdown-item-custom:first-of-type::before {
      content: '';
      position: absolute;
      background-color: $primary;
      height: 1px;
      width: calc(80% + 2px);
      right: 0;
      top: 0;
    }

    .dropdown-link {
      text-decoration: none;
      color: rgba(black, 0.6);

      &>i {
        margin-inline-end: 0.15em;
        font-size: 0.9rem;
        color: rgba($primary, 0.85);
      }
    }

    .dropdown-link:hover, .dropdown-link:focus {
      color: rgba(black, 1);

      &>i {
        color: rgba($primary, 1);
      }
    }

    &.show {
      display: block;
    }
  }
}
