.app-brand-link {
  opacity: 0.9;

  &:hover {
      opacity: 0.8;
  }
}

.app-brand-logo i {
  color: $primary !important;
}

.app-brand-title {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 105%;
    height: 2px;
    // background-color: $primary;
    background-image: linear-gradient(90deg, transparent , $primary 15%, transparent 85%);
    border-radius: 100%;
    bottom: -0em;
    left: -0.5rem;
    // translate: -50% 0;
    transform-origin: left;
    rotate: -2deg;
    z-index: -1;
  }

  span {
    color: $primary;
  }
}
